[Unit]
Description=A Robot Web Controller
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/<PYTHONVER> -m gunicorn -w 1 -b <IPADDR>:<PORT> server:app
WorkingDirectory=/home/pi/ThreeWheelBot/local

[Install]
WantedBy=multi-user.target
